@import url('https://fonts.googleapis.com/css?family=Rancho&effect=anaglyph');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

#view-source {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}

html, body {
  font-family: "Roboto Mono" !important;
  margin: 20;
  padding: 20;
  position: relative;
}

.mdl-data-table{
  font-size: 10px;
  margin-top: 8px !important;
  table-layout:fixed !important;
  width:100%; 
}

#order-table td, th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.mdl-data-table__cell--left {
  text-align: left !important;
}

.mdl-layout-title{
  color: #ffffff!important;
  font-family: "Roboto Mono" !important;
  .draw-logo{
    color: #000000 !important;
  }
  a {
    color: #ffffff !important;
    text-decoration: none !important;
  }
}

.blok {
  color: #000000 !important;
  font-size: 9pt;
}

.mdl-layout__drawer{
  width: 200px !important;
}
.mdl-layout__drawer, .mdl-layout__content{
  background-color: #ffffff !important;
}

.mdl-grid{
  margin: 0 auto;
}

.mdl-layout__header,{
  height: 65px;
  background-color: #000000 !important;
}

a.mdl-navigation__link{
  text-decoration: none !important;
  color: #006058 !important;
  font-size: 10pt;
}

.mdl-layout__drawer-button{
  outline: none;
}

.lain{
  height: 100%;
  width: 100%;
}

.portfolio{
  font-size: 11pt !important;
  text-decoration: none !important;
  color: #26648D !important;
  font-size: 10pt;
}


