<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <div class="mdl-layout-title"><%= link_to("FURIERIT", "/")%></div>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <%= link_to("PORTFOLIO", "poketvalue" , class: "portfolio") %>
    </nav>
  </div>
</header> 